* {
    /* 
    Defines the main font used throughout the entire site.
  */
    font-family: 'Press Start 2P', cursive;
}

html {
    position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
    min-width: 844px;
    min-height: 566px;
/*    background-image: url(../Images/stripes.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;*/
}

body {
    margin: 0;
    position: relative;
    height: 100%;
    width: 100%;/*
    background-image: url(../Images/oldTV6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 100%;*/
    min-width: 844px;
    max-width: 1866px;
}

div.header {
    width: 100%;
    height: 50px;
    min-width: 844px;
    background: rgba(0, 0, 12, 0.9);
    position: fixed;
    z-index: 2;
    color: #ddddee;
    border-style: none none solid none;
    border-width: 3px;
    border-color: #ddddee;
    /*border-color: #1454ff; */
}

.fontHeader {
    font-size: 32px;
    position: relative;
    left: 5px;
	top: 50%;
	transform: translateY(-50%);
    font-family: "PaperCuteW00-Regular";
}

div.headerWrapper {
    margin: auto;
    width: 80%;
    height: 100%;
    min-width: 844px;
}

div.pageWrapper {
    position: absolute;
    margin: auto;
    height: 100%;
    width: 100%;
}

div.mainContent {
    position: relative;
    margin: auto;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

div.headBlock {
    width: 100%;
    height: 75px;
    min-width: 844px;
    background-color: #10101c;
    margin: auto;
    position: relative;
}

div.headerImage {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    height: 300px;
    width: 100%;
    min-width: 844px;
    border-style: none none solid none;
    border-width: 3px;
    border-color: white;
}

img.headImg {
    position: absolute;
    bottom: -5px;
    left: -4px;
    height: 185px;
    width: 415px;
    margin: auto;
    
}

div.headBox {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 174px;
    width: 408px;
    border-style: solid;
    border-color: transparent;
    border-radius: 10px;
    z-index: 5;
    box-shadow: 16px 8px 16px 8px rgba(0,0,0,0.8);
}

button.aButton {
    position: absolute;
    height: 36.5px;
    width: 36.5px;
    bottom: 31.5px;
    right: 102.5px;
    background-color: transparent;
    border-style: solid;
    border-color: transparent;
    border-width: 2px;
    border-radius: 30px;
}

button.bButton {
    position: absolute;
    height: 36.5px;
    width: 36.5px;
    bottom: 31.5px;
    right: 48.5px;
    background-color: transparent;
    border-style: solid;
    border-color: transparent;
    border-width: 2px;
    border-radius: 30px;
}

button.startButton {
    position: absolute;
    height: 15px;
    width: 34px;
    bottom: 43px;
    right: 176px;
    background-color: transparent;
    border-style: solid;
    border-color: transparent;
    border-width: 2px;
    border-radius: 30px;
}

button.selectButton {
    position: absolute;
    height: 15px;
    width: 34px;
    bottom: 43px;
    right: 229px;
    background-color: transparent;
    border-style: solid;
    border-color: transparent;
    border-width: 2px;
    border-radius: 30px;
}

button.downButton {
    position: absolute;
    height: 27px;
    width: 29px;
    bottom: 32px;
    right: 325px;
    background-color: transparent;
    border-style: solid;
    border-color: transparent;
    border-width: 2px;
    border-radius: 5px;
}

button.upButton {
    position: absolute;
    height: 27px;
    width: 29px;
    bottom: 82px;
    right: 325px;
    background-color: transparent;
    border-style: solid;
    border-color: transparent;
    border-width: 2px;
    border-radius: 5px;
}

button.rightButton {
    position: absolute;
    height: 29px;
    width: 27px;
    bottom: 56px;
    right: 301px;
    background-color: transparent;
    border-style: solid;
    border-color: transparent;
    border-width: 2px;
    border-radius: 5px;
}

button.leftButton {
    position: absolute;
    height: 29px;
    width: 27px;
    bottom: 56px;
    right: 351px;
    background-color: transparent;
    border-style: solid;
    border-color: transparent;
    border-width: 2px;
    border-radius: 5px;
}

button.aButton:hover, button.bButton:hover, button.startButton:hover, button.selectButton:hover,
button.downButton:hover, button.upButton:hover, button.rightButton:hover, button.leftButton:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
}

table.centeredTable {
	margin-right: auto;
	margin-left: auto;
	margin: auto;
    position: relative;
    font-family: 'Press Start 2P', cursive;
    top: 30%;
    transform: translateY(-50%);
}

td.menuOption {
    font-size: 20px;
    padding: 5px;
}

td.menuOption:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

/*
th.rightAlignedHeaderCell {
    text-align: right;
    color: white;
    text-shadow:
		-1px 0 #222222, 
		0 1px #222222, 
		1px 0 #222222, 
		0 -1px #222222;
}

td.paddedCell {
    padding: 5px;
    text-align: center;
    color: white;
    text-shadow:
		-1px 0 #222222, 
		0 1px #222222, 
		1px 0 #222222, 
		0 -1px #222222;
}
*/
button.smallButton1 {
    background-color: #222222;
    color: white;
    border-style: solid;
    border-width: 3px;
    border-color: #eedb0a;
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    font-size: 18px;
    padding: 0;
}

button.smallButton1:hover {
    color: cyan;
    border-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
}

input.sarumanInput {
    width: 135px;
}

/* Formatting for the loading screen */
.blank {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
    margin: auto;
	z-index: 9999;
    background-color: #ffffff;
	background-image: url(../Images/oldTV1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 100%;
	cursor: wait;
    min-width: 844px;
    min-height: 566px;
}

/* Formatting for the loading image :3 */
.loadingImg {
	position: relative;
    right: 7%;
	top: 45%;
    transform: translateY(-50%);
	margin: auto;
	width: 200px;
	height: 200px;
	z-index: 9999;
	background: url("../Images/totoro1.gif") center no-repeat #fff;
    opacity: 0.8;
}

.loadingText {
	position: relative;
    right: 7%;
	top: 30%;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	font-size: 24px;
	z-index: 9999;
    opacity: 0.8;
}

div.iframeHolder {
    position: relative;
    margin: auto;
    width: 270px;
    height: 100%;
    overflow: hidden;
}

div.iframeHolderInner {
    position: relative;
    margin: auto;
    width: 270px;
    top: -75px;
    overflow: hidden;
    opacity: 0.8;
}

input {
    background-color: #222222;
    border-style: solid;
    border-width: 3px;
    border-color: #eedb0a;
    border-radius: 5px;
    color: white;
    font-size: 10px;
}
